html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}

h1 {
  font-family: "Orbitron", sans-serif;
   color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #e60073, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073;
  }
  
  to {
    text-shadow: 0 0 10px #fff, 0 0 30px #ff4da6, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6;
  }
}

button{
  background-color: rgb(255, 171, 231); 
  border-radius: 5px;
  
  color: black;
  font-weight: 700;
  cursor: pointer;
}
button:hover{
  background-color: rgb(133, 0, 95); 
  color:rgb(255, 171, 171);
  

}